<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shared Twitter Friends | rmotr.com</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
  </head>

  <body>
    <h1>Shared Twitter friends</h1>
    <p>Intersections in the VENN diagram represent shared followers betweet Twitter accounts.</p>
    <i>NOTE: Small intersections will not be displayed in the diagram to keep a cleaner visualization.</i>

    <div id="venn"></div>

    <hr>
    <a href="https://rmotr.com" target="_blank" class="footer">
      <img class="rmotr-logo" src="https://avatars0.githubusercontent.com/u/10223902?s=400&u=b0dab848f16d8fdb4238ce887887b982f390b5fd&v=4" alt="">
      <b>rmotr.com</b> | Learn to code in an online classroom
    </p>
  </body>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="http://benfred.github.io/venn.js/venn.js"></script>
  <script>
    // required format
    // var sets = [ {sets: ['A'], size: 12},
    //              {sets: ['B'], size: 12},
    //              {sets: ['A','B'], size: 2} ];
    var sets = {{ data | safe }}
  </script>
  <script src="static/scripts.js"></script>
</html>
